@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: white;
}
.wrapper{
	background: url(background.jpeg) no-repeat;
	background-size: cover;
	background-color: transparent;
	margin-top: 120px;
	height: 50vh;
		float: right;
		width: 480px;
		padding: 30px;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: black;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 30%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: black;
	font-size: 50px;
	width: 650px;
	margin-left: 0px;
	font-weight: 30px;
	text-align: left;
	background-color: goldenrod;
}
.center .buttons{
	margin: 25px 120px;
}
.buttons button {
	position: left;
	top: 110%;
	right: 180;
	width: 220px;
	transform: translate(-50%);
	border-radius: 25px;
	font-size: 20px;
	background-color: coral;
}
.buttons button:hover{
	background: green;
}